/*Custom property*/
:root{
    --primario : #ffc107;
    --gris : #757575;
    --letra-principal: "Montserrat", sans-serif;
    --cabecera:#5DADE2;
    --separacion:100px;
    --blanco:white;
}



html {
font-size: 62.5%;

}

body {

    font-size: 16px;
    font-family: var(--letra-principal);
}

.cabecera {
  text-align: center;
  color: blue;
  font-family: var(--letra-principal);
  font-size: 3.8rem;
}

.contacto{
    color: var(--gris)
}

.separacion {
    margin-top: 100px;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span {
    font-size: 2rem;
    color: black;
}

nav{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero_imagen {
   text-align: center;
   width:  100%;
   height: 270px;
   position: relative;
   background: nonepx;
   ;
}


.contenedor{
    max-width: 120rem;
    margin-top: 0%;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;

}

.navegador-backgr{
    background-color: var(--cabecera);
    
    
}

.navegacion-principal{
    
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: bold;
    flex-direction: column;

}

/*hACE TEXTO RESPONSIVE*/
@media (min-width:768px) {
    .navegacion-principal{
     flex-direction: row;
    }
 
 
 }

.enlaces{
    padding: 1rem;
    color:var(--blanco);
    text-decoration: none;
    
}

.enlaces:hover{
    background-color: var(--primario);
    color: black;
}




  
